.sideBar-container{
    background-color: var(--primary-color);
}

.sideBar-item-container{
    margin: 10px;
    background-color: var(--primary-color);
    border: 2px solid var(--background-color);
    border-radius: 10px
}

.sideBar-item{
    padding: 10px;
    color: var(--background-color);
    font-weight: bolder;
    text-transform: capitalize;
}